// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Swiper
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.fade-out {
    animation: fadeOut 2s linear;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}